<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pill pal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>pill pal23.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B76C70C1DFF118700373648</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B8569051DC7BFAA006A1582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B8569191DC7BFAA006A1582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B8569241DC7BFAA006A1582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
